* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}


:root {
    --main-color: #10cab7;
    --second-color: #2c4755;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* small */

@media(min-width: 768px) {
    .container {
        width: 750px;

    }


}


/* medium */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }

}


/* large */


@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }


}


.special-handing {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}


.special-handing+p {
    color: #797979;
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 60px;
    max-width: 100%;
}


.container nav {
    position: relative;
}


nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: 0.5s ease;
}


nav .icon span {
    margin-bottom: 5px;
    height: 3px;
    background: #333;
    cursor: pointer;
    transition: 0.5s ease;
}

.icon span:first-child {
    width: 100%;
}

.icon span:nth-child(2) {
    width: 60%;
    transition: 0.5s ease;
}

.icon span:nth-child(3) {
    width: 100%;
}


.icon:hover :nth-child(2) {
    width: 100%;
}

nav ul {
    position: absolute;
    background: #f6f6f6;
    right: 0;
    width: 200px;
    transition: 0.5s ease;
    display: none;
    top: calc(100% + 10px);
}

nav ul::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -21px;
    right: 0px;
    transition: 0.5s ease;
}


ul li a {
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.5s ease;
}

ul li a:hover {
    padding-left: 25px;
}


ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


nav:hover ul {
    display: block;
}


/* landing */

.landing {
    background-size: cover;
    background-image: url(landing.jpg);
    background-position: center;
    height: 100vh;
    position: relative;
}


.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.intro-text h1 {
    color: var(--main-color);
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-text p {
    line-height: 1.7;
    font-size: 19px;
}

@media(max-width: 768px) {
    .intro-text h1 {
        font-size: 50px;
    }

    .intro-text {
        width: 320px;
        max-width: 100%;

    }


}


/* feature */


.feature {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f6f6f6;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.feat {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
}

.feat:hover {
    transform: scale(1.04);
}

.feat i {
    color: var(--main-color);
}


.feat h3 {
    margin: 30px 0;
    font-weight: 800;
}

.feat p {
    line-height: 1.8;
    font-size: 17px;
    color: #333;
}


@media(max-width: 768px) {
    .special-handing {
        font-size: 70px;
    }

    .special-handing+p {
        margin: -20px 0 0;
        font-size: 15px;
    }





}




/* service */

.service {
    padding-top: 60px;
    padding-bottom: 60px;
}


.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 30px;
    margin-top: 100px;
    justify-content: center;
}

.srv {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s ease;
}

.srv:hover {
    transform: translateY(-5px)
}

@media(max-width: 768px) {
    .service-content {
        text-align: center;
    }

    .srv {
        flex-direction: column;
        text-align: center;
        background: #f6f6f6;
        padding: 20px;
        border-radius: 10px;
    }


    .srv .text p {
        width: 400px;
        max-width: 100%;

    }

    .col-image::before {
        display: none;
    }


    .col-image::after {
        content: '';
        position: absolute;
        background-color: var(--second-color);
        width: 100%;
        height: 80px;
        bottom: -40px;
        left: 0;
        z-index: -1;
    }











}


.srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.srv .text {
    flex: 1;
}


.srv .text h3 {
    margin: 0 0 20px;
}

.srv .text p {
    color: #444;
    line-height: 30px;
    font-weight: 600;

}

.col-image {
    text-align: center;
    position: relative;
}

.col-image img {
    width: 260px;
    height: auto;
}


.col-image::before {
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 80px);
    background: var(--second-color);
    right: 0;
    top: -50px;
    z-index: -1;
}

/* portfolio */


.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f6;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 30px;
    margin-top: 50px;
}

.portfolio-content .card {
    background: #fff;
}

.card img {
    max-width: 100%;
    object-fit: cover;
}

.card .info {
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}


.card .info h3 {
    margin: 0 0 20px;
}

.card .info p {
    color: #333;
    line-height: 1.7;
    margin-bottom: 0;
}


/* about */


.about {
    padding-top: 60px;
    padding-bottom: 120px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}


.about-image {
    width: 250px;
    position: relative;
    height: 375px;
}

.about-image img {
    width: 100%;
    height: 100%;
}


.about-image::before {
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 80px;
    top: -40px;
    background: #ebeced;
    left: -20px;
    z-index: -1;
}

.about-image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    right: -150px;
    z-index: -1;
    top: -40px;
}


.about-text {
    flex-basis: calc(100% - 500px);
}

.about-text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 20px;
}

.about-text hr {
    display: inline-block;
    width: 50%;
    border: 1px solid var(--main-color);
}

.about-text p:last-of-type {
    line-height: 2;
    color: #777;
    margin-top: 20px;
}

@media(max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        margin: 0 auto 100px;

    }



}


@media(max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image::after {
        right: -50px;
        top: -50px;
    }



}



/* contact */


.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f6;
    text-align: center;
}


.contact .info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;
}


.label {
    font-size: 40px;
    color: var(--second-color);
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.link {
    color: var(--main-color);
    font-size: 40px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links p {
    color: #000;
    font-size: 18px;
    margin-right: 20px;
}

.links i {
    display: inline-block;
    font-size: 19px;
    margin-left: 20px;
    background: var(--main-color);
    color: #000;
    padding: 10px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}


.links i:hover {
    color: var(--main-color);
    background: #000;
    transform: scale(1.08) translateY(-5px);

}


@media(max-width: 768px) {
    .label {
        font-size: 0;
    }

    .link {
        font-size: 20px;
    }


.links{
display: flex;
flex-direction: column;
text-align: center;
margin-top: 50px;
}

    .links p{
font-size: 20px;
font-weight: 500;
margin-bottom: 20px;
    }



}

/* footer */

.footer {
    background: var(--second-color);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.footer span {
    color: var(--main-color);
}